@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100&display=swap');

/*Global Variables*/
:root {
    --dark: #3C493F;
    --dark-grey: #7E8D85;
    --grey: #B3BFB8;
    --light-grey: #F0F7F4;
    --mint: #A2E3C4;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body {
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.75;
    color: var(--dark);
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}

/* *** General App Styling *** */
.app {
    max-width: 1090px;
    margin: 0 auto;
    position: relative;
}

.add-new {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 5rem; 
    cursor: pointer;
}
.add-new:hover {
    color: var(--mint);
}
/* **** INTRO Section with Titel and Layout-Switcher Checkboxes **** */
.intro {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: 5% 0;
}
.layoutswitches {
    display: flex;
    flex-flow: row;
    gap: 20px;
}
.layoutswitch-darkmode {
 /*Scoped Variables to style darkmode*/
    --width: 50px;
    --heigth: calc(var(--width) / 2);
    --border-radius: calc(var(--heigth) / 2);
    --main-color: var(--dark);
    --secondary-color: var(--light-grey);
}

.layoutswitch-grid {
     /*Scoped Variables to style darkmode*/
    --width: 50px;
    --heigth: calc(var(--width) / 2);
    --border-radius: calc(var(--heigth) / 2);
    --main-color: var(--dark-grey);
    --secondary-color: var(--mint);
}

/* **** Controls Section with Filters **** */ 
.controls {
   position: sticky;
   top: 0;
   left: 0;
   display: flex;
   flex-flow: row;
   justify-content: flex-end;
   align-items: center;
   gap: 20px;
   background-color: #ffffff;
   margin-bottom: 2%;
}

.filterdswitch-completed {
      /*Scoped Variables to style darkmode*/
    --width: 50px;
    --heigth: calc(var(--width) / 2);
    --border-radius: calc(var(--heigth) / 2);
    --main-color: var(--dark-grey);
    --secondary-color: var(--mint);
}

.sorting {
    --secondary-color: var(--mint);
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 17.5px;
    background-color: var(--dark-grey);
}

.sorting .material-icons {
    line-height: 30px;
}

/* **** ToDos Section with ToDos List and add new Todo **** */ 
.todo {
    background-color: var(--light-grey);
    padding: 2%;
    margin-bottom: 2%;
    list-style: none;
}

/* *** Single Todo *** */
/* Dates and Icons */
.todo-content {
    display: flex;
    flex-flow: column;
}
.meta {
    display: flex;
    flex-flow: row;
}
.todo-meta {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 2%;
}
.todo-meta:not(:last-child){
    margin-right: 5%;
}

.todo-meta > .material-icons {
    margin-right: 10px;
}

.todo-buttons {
    align-self: flex-end;
}

/* **** FORMS And BUTTONS **** */

/*Styling Checkbox Inputs*/
.switch {
    /*Styling*/
    display: flex;
    cursor: pointer;
}
/*General Styling to make Checkbox into Slider => style variables per Checkbox and also add switch class for genreal styles*/
input[type="checkbox"]{
   display: none;
}
input[type="checkbox"]:checked ~ .switch-fill {
    background-color: var(--secondary-color);
}
input[type="checkbox"]:checked ~ .switch-fill::after {
    left: calc(var(--width) - var(--heigth));
    background-color: var(--main-color);
}
.switch-fill {
    position: relative;
    width: var(--width);
    height: var(--heigth);
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    transition: all 0.2s;
}
.switch-fill::after {
    content: "";
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    height: calc(var(--heigth) / 1.25);
    width: calc(var(--heigth) / 1.25);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

/*Styling Radio Buttons*/
input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
    margin: 0 12.5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

input[type="radio"]:checked + label {
	background-color: var(--secondary-color);
}

.todo-edit, .todo-done {
    border: none;
    background: var(--dark);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.todo-edit:hover, .todo-done:hover {
    background-color: var(--light-grey);
    border: 2px solid var(--dark);
} 

.todo-edit > .material-icons, .todo-done > .material-icons {
    color: var(--light-grey);
}

.todo-edit:hover > .material-icons, .todo-done:hover > .material-icons {
    color: var(--dark);
}