@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,100&display=swap');

/*Global Variables*/
:root {
    --dark: #3C493F;
    --dark-grey: #7E8D85;
    --grey: #B3BFB8;
    --light-grey: #F0F7F4;
    --mint: #A2E3C4;
    --background: #ffffff;
    --alert-mid: #EDE04D;
    --alert-high: #ff7200;;
    --alert-very-high: #ED4F32;
    --display-width-single: 100%;
    --display-todos: block;
}

/*Resets and Defaults*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
}

body, input, textarea {
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.75;
    color: var(--dark);
    background-color:var(--background) ;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 2.488rem;
}

h2 {font-size: 2.074rem;}

h3 {font-size: 1.728rem;}

h4 {font-size: 1.44rem;}

h5 {font-size: 1.2rem;}

small, .text_small {font-size: 0.833rem;}

/* *** General App Styling *** */
.app {
    max-width: 1090px;
    margin: 0 auto;
    position: relative;
}
.add-new {
    color: var(--dark-grey);
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: 5rem;
    cursor: pointer;
    z-index: 9999;
    transition: all 0.2s ease-in;
}
.add-new:hover {
    color: var(--mint);
}
.add-new.rotate {
    transform: rotate(45deg);
}

/* **** INTRO Section with Title and Layout-Switcher Checkboxes **** */
.intro {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    padding: 5% 0;
}
.layoutswitches {
    display: flex;
    flex-flow: row;
    gap: 20px;
}

.layoutswitch-darkmode {
 /*Scoped Variables to style darkmode*/
    --width: 50px;
    --heigth: calc(var(--width) / 2);
    --border-radius: calc(var(--heigth) / 2);
    --main-color: var(--dark);
    --secondary-color: var(--light-grey);
}

.dark-mode {
    --dark: #29435c;
    --dark-grey: #556e53;
    --grey: #29435c;
    --light-grey: #7c826c;
    --mint: #d1d4c9;
    --background: #152a38;
}

/*Classes for Layout Changes*/
.layoutswitch-grid {
     /*Scoped Variables to style darkmode*/
    --width: 50px;
    --heigth: calc(var(--width) / 2);
    --border-radius: calc(var(--heigth) / 2);
    --main-color: var(--dark-grey);
    --secondary-color: var(--mint);
}

.grid-mode {
    --display-todos: flex;
    --display-width-single: 31%;
}

/* **** Controls Section with Filters **** */
.controls {
   position: sticky;
   top: 0;
   left: 0;
   display: flex;
   flex-flow: row;
   justify-content: flex-end;
   align-items: center;
   gap: 20px;
   background-color: var(--background);
   margin-bottom: 2%;
}

.filterdswitch-completed {
      /*Scoped Variables to style darkmode*/
    --width: 50px;
    --heigth: calc(var(--width) / 2);
    --border-radius: calc(var(--heigth) / 2);
    --main-color: var(--dark-grey);
    --secondary-color: var(--mint);
}

.sorting {
    --secondary-color: var(--mint);
    display: flex;
    align-items: center;
    height: 35px;
    border-radius: 17.5px;
    background-color: var(--dark-grey);
}

.sorting .material-icons {
    line-height: 30px;
}

/* **** ToDos Section with ToDos List, edit Todo and add new Todo **** */
.todo {
    background-color: var(--light-grey);
    padding: 2%;
    margin-bottom: 2%;
    list-style: none;
}
.todos-list {
    display: var(--display-todos);
    flex-wrap: wrap;
    gap: 3.5%;
}
.todo {
    width: var(--display-width-single);
}

/* *** Single Todo *** */
/* Dates and Icons */
.todo-content {
    display: flex;
    flex-flow: column;
}
.meta {
    display: flex;
    flex-flow: row;
}
.todo-meta {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 2%;
}
.todo-meta:not(:last-child){
    margin-right: 5%;
}

.todo-meta > .material-icons {
    margin-right: 10px;
}

.todo-buttons {
    align-self: flex-end;
}

/* Hide regulare content of ToDo in edit mode => display inputs instead*/
.edit .todo-duedate > .date, .edit .importance, .edit h2, .edit p, .edit .todo-edit, .edit .todo-done {
    display: none;
}

/* Inputs in single ToDo by default hidden => only visible when edit class is added*/
.todo input, .todo textarea, .todo select, .todo .todo-save {
    display: none;
}

.edit input, .edit textarea, .edit select, .edit .todo-save {
    display: block;
}

.todo-content > input[type="text"] {
    margin-bottom: 2%;
    font-size: 2.074rem;
}
.todo-content > textarea {
    margin-bottom: 2%;
}

/* **** FORMS And BUTTONS **** */
/* **** Styling New Note Overlay with add Note Form **** */
.add-note {
    position: absolute;
    top: 0;
    left: 0;
    height: 0vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-grey);
    overflow: hidden;
}

.add-note.active {
    height: 100vh;
    overflow: hidden;
}

.add-note__submit {
    border: none;
    border-radius: 17.5px;
    background-color: var(--dark);
    padding: 2% 5%;
    color: #ffffff;
    cursor: pointer;
}
.add-note__submit:hover {
    background-color: var(--mint);
    color: var(--dark);
}

.add-note form {
    display: flex;
    flex-flow: column;
    width: 60%;

}
.add-note form label {
    display: flex;
    flex-flow: column;
    min-width: 50%;
    margin-bottom: 5%;
}

/*Styling Checkbox Inputs*/
.switch {
    /*Styling*/
    display: flex;
    cursor: pointer;
}
/*General Styling to make Checkbox into Slider => style variables per Checkbox and also add switch class for genreal styles*/
input[type="checkbox"]{
   display: none;
}
input[type="checkbox"]:checked ~ .switch-fill {
    background-color: var(--secondary-color);
}
input[type="checkbox"]:checked ~ .switch-fill::after {
    left: calc(var(--width) - var(--heigth));
    background-color: var(--main-color);
}
.switch-fill {
    position: relative;
    width: var(--width);
    height: var(--heigth);
    border-radius: var(--border-radius);
    background-color: var(--main-color);
    transition: all 0.2s;
}
.switch-fill::after {
    content: "";
    position: absolute;
    display: flex;
    top: 50%;
    transform: translateY(-50%);
    left: 5px;
    height: calc(var(--heigth) / 1.25);
    width: calc(var(--heigth) / 1.25);
    background-color: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

/*Styling Radio Buttons*/
input[type="radio"] {
	display: none;
}

input[type="radio"] + label {
    margin: 0 12.5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
}

input[type="radio"]:checked + label {
	background-color: var(--secondary-color);
}

/*Input Type Text*/
input[type="text"]{
    height: 30px;
    border: none;
    background-color: var(--background);
}

/*Input Type Date*/
input[type="date"]{
    height: 30px;
    border: none;
    background-color: var(--background);
}
input[type="date"]:placeholder {
    font-family: Poppins;
    font-weight: 400;
    line-height: 1.75;
    color: var(--dark);
    background-color:var(--background) ;
}
/*Input Type Select*/
select {
    height: 30px;
    border: none;
    background-color: var(--background);
}

/*Styling Textarea*/
textarea {
    width: 100%;
    height: 200px;
    border: none;
    background-color: var(--background);
}
/*Styling Buttons done and edit */
.todo-button {
    border: none;
    background: var(--dark);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.todo-button:hover {
    background-color: var(--light-grey);
    border: 2px solid var(--dark);
}

.todo-button > .material-icons {
    color: var(--light-grey);
    /* Set Pointer Event of Icon to none so that it does not get selected when listening for js click */
    pointer-events: none;
}

.todo-button:hover > .material-icons {
    color: var(--dark);
}

.done{
    text-decoration: underline;
}

/*Styling Importance Icons / Text*/
[data-value]::after {
    content: '!';
    font-size: 1.5rem;
}

[data-value="2"]::after {
    content: '!!';
}

[data-value="3"]::after {
    content: '!!!';
    color: var(--alert-mid);
}

[data-value="4"]::after {
    content: '!!!!';
    color: var(--alert-high);
}

[data-value="5"]::after {
    content: '!!!!!';
    color: var(--alert-very-high);
}
